<!--
.. title: Project Status Dashboard
.. slug: status
.. date: 2019-08-04 11:39:27 UTC-06:00
.. tags:
.. category:
.. link:
.. description:
.. type: text
-->
<html>

<head>
  <style>
    body {
      font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
      text-align: center;
    }

    td {
      padding: 5px;
    }

    table {
      margin-bottom: 50px;
    }
  </style>
</head>

<body>
  <div id="wrapper">
    {% for section in config %}
    <h2>{{ section.name }}</h2>
    <table align="center">
      <tr>
        <th>Name</th>
        <th>Travis</th>
        <th>CircleCI</th>
        <th>GitHubCI</th>
        <!-- <th>Coverage</th> -->
        <th>ReadTheDocs</th>
        <th>PyPI</th>
        <th>Conda</th>
      </tr>
      {% for project in section.projects %}
      <tr>
        <td align="left">
          <a href="http://github.com/{{ project.repo }}">{{ project.name }}</a>
        </td>
        {% if 'travis' in project.badges %}
        <td align="left">
          <a href="https://travis-ci.org/{{ project.travis_project }}">
            <!-- <img src="https://travis-ci.org/{{ project.travis_project }}.svg?branch=master&logo=travis"> -->
            <img src="https://img.shields.io/travis/{{ project.travis_project }}?&logo=travis" />
          </a>
        </td>
        {% else %}
        <td align="center">-</td>
        {% endif %} {% if 'circleci' in project.badges %}
        <td align="left">
          <a href="https://circleci.com/gh/{{ project.circleci_project }}">
            <img src="https://circleci.com/gh/{{ project.circleci_project }}.svg?style=svg" />
          </a>
        </td>
        {% else %}
        <td align="center">-</td>
        {% endif %} {% if 'githubci' in project.badges %}
        <td align="left">
          <a href="https://github.com/{{ project.repo }}/actions">
            <!-- <img src="https://github.com/{{ project.repo }}/workflows/{{project.gh_workflow_name}}/badge.svg"> -->
            <img
              src="https://img.shields.io/github/workflow/status/{{ project.repo }}/{{ project.gh_workflow_name }}?logo=github" />
          </a>
        </td>
        {% else %}
        <td align="center">-</td>
        {% endif %}
        <!-- {% if 'coveralls' in project.badges %}
        <td align='left'>
          <a href="https://coveralls.io/r/{{ project.repo }}?branch=master">
            <img src="https://coveralls.io/repos/{{ project.repo }}/badge.svg?branch=master">
          </a>
        </td>
        {% elif 'codecov' in project.badges %}
        <td align='left'>
          <a href="https://codecov.io/gh/{{ project.repo }}?branch=master">
            <img src="https://codecov.io/gh/{{ project.repo }}/branch/master/graph/badge.svg">
          </a>
        </td>
        {% else %}
        <td align='center'>-</td>
        {% endif %} -->
        {% if 'rtd' in project.badges %}
        <td align="left">
          <a href="https://readthedocs.org/projects/{{ project.rtd_name }}/?badge=latest">
            <img src="https://readthedocs.org/projects/{{ project.rtd_name }}/badge/?version=latest" />
          </a>
        </td>
        {% else %}
        <td align="center">-</td>
        {% endif %} {% if 'pypi' in project.badges %}
        <td align="left">
          <a href="https://pypi.org/project/{{ project.pypi_name }}">
            <img src="https://img.shields.io/pypi/v/{{ project.pypi_name }}.svg" />
          </a>
        </td>
        {% else %}
        <td align="center">-</td>
        {% endif %} {% if 'conda' in project.badges %}
        <td align="left">
          <a href="https://anaconda.org/{{ project.conda_channel }}/{{ project.conda_project }}">
            <img src="https://img.shields.io/conda/vn/{{ project.conda_channel }}/{{ project.conda_project }}.svg?" />
          </a>
        </td>
        {% else %}
        <td align="center">-</td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>

    {% endfor %}
  </div>
</body>

</html>
