## -*- coding: utf-8 -*-

<%def name="html_footer()">
    <footer class="site-footer outer">
      <div class="site-footer-content inner">
        <div class="site-footer-image" style="width: 409px; height: 40px;">
          <a href="https://www2.cisl.ucar.edu/"><img src="/assets/img/CISL-contemp-logo-white.svg" alt="CISL"></a>
        </div>
        % if content_footer:
        <div class="site-footer-section">
          <section>${content_footer}</section>
          ${template_hooks['page_footer']()}
        </div>
        % endif
      </div>
      <div class="site-footer-content inner" style="border: 0; padding: 0; flex-wrap: nowrap;">
        <div class="site-footer-image" style="width: 60px; height: 60px;">
          <a href="https://nsf.gov/"><img src="/assets/img/footer-logo-nsf.png" alt="NSF"></a>
        </div>
        <div class="site-footer-section" style="width: 100%;">
          <section>This material is based upon work supported by the National Center for Atmospheric Research, a major facility sponsored by the National Science Foundation and managed by the University Corporation for Atmospheric Research. Any opinions, findings and conclusions or recommendations expressed in this material do not necessarily reflect the views of the National Science Foundation.</section>
        </div>
      </div>
    </footer>
</%def>
