## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="math" file="math_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="pagination" file="pagination_helper.tmpl"/>
<%namespace name="feeds_translations" file="feeds_translations_helper.tmpl" import="*"/>
<%inherit file="base.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    % if posts and (permalink == '/' or permalink == '/' + index_file):
        <link rel="prefetch" href="${posts[0].permalink()}" type="text/html">
    % endif
    ${math.math_styles_ifposts(posts)}
</%block>

<%block name="content">
<%block name="content_header">
    ${feeds_translations.translation_link(kind)}
</%block>
% if 'main_index' in pagekind:
    ${front_index_header}
% endif
% if page_links:
    ${pagination.page_navigation(current_page, page_links, prevlink, nextlink, prev_next_links_reversed)}
% endif
<div class="post-feed">
% for post in posts:
    <article class="post-card">
      % if post.meta('banner'):
      <a class="post-card-image-link" href="post1.html">
        <div class="post-card-image" style="background-image: url(assets/img/post-default.jpg)"></div>
      </a>
      <div class="post-card-content">
      % else:
      <div class="post-card-content" style="flex: 0 1 auto">
      % endif
        <a class="post-card-content-link" href="${post.permalink()}">
          <header class="post-card-header">
            <span class="post-card-tags">${post.meta('keywords')|h}</span>
            <h2 class="post-card-title">${post.title()|h}</h2>
          </header>
          <section class="post-card-excerpt">
            % if index_teasers:
            ${post.text(teaser_only=True)}
            % else:
            ${post.text(teaser_only=False)}
            % endif
          </section>
          <footer class="post-card-author">
            % if author_pages_generated:
            <a href="${_link('author', post.author())}">${post.author()|h}</a>
            % else:
            ${post.author()|h}
            % endif
          </footer>
        </a>
      </div>
    </article>
% endfor
</div>
${helper.html_pager()}
${comments.comment_link_script()}
${math.math_scripts_ifposts(posts)}
</%block>
