html {
  overflow-y: scroll;
  font-family: "Helvetica Neue", sans-serif;
  min-width: 475px;
  -webkit-text-size-adjust: 100%;
}

article, span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  display: block;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
}

header, main, div {
  display: block;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

li {
  line-height: 1.6em;
}

a {
  text-decoration: none;
}

img {
  border: 0;
  max-width: 100%;
}

p.more, p.more a {
  margin: 1rem 0 0 0;
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: left;
  color: #738a94;
  font-size: 1rem;
  font-weight: 400;
}

*, :after, :before {
  box-sizing: inherit;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #EFEFEF;
}

.outer {
  position: relative;
  padding: 0 4vw;
}

.inner {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
}

.site-header {
  color: #EEE;
  position: relative;
  padding: 12px 0;
  background: #000 no-repeat center bottom;
  background-size: cover;
  /*background-image: url("/assets/img/mammatus.jpg");*/
}

.site-header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  background-color: #333333;
  margin: 0 0 -62px 12px;
  width: fit-content;
}

.site-header-logo span {
  font-size: 8pt;
  padding-bottom: 6px;
}

.site-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6vw 4vw;
  text-align: center;
  z-index: 10;
}

.site-title h1, .site-title h2, .site-title h3,
.site-title h4, .site-title h5, .site-title h6 {
  font-family: Audiowide, cursive;
}

.site-nav {
  position: relative;
  display: flex;
  overflow-y: hidden;
  z-index: 300;
  justify-content: space-between;
  align-items: flex-start;
  height: 30px;
  bottom: 0;
  font-size: 1rem;
}

.site-nav-menu {
  align-items: center;
  overflow-x: auto;
  margin-right: 0px;
  padding-bottom: 80px;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}

.site-nav-social {
  flex-shrink: 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
  color: #fff;
  font-size: 1.5em;
}

.nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  display: block;
  padding: 10px 12px;
  margin: 0;
  text-transform: uppercase;
}

.nav-link {
  color: #fff;
  opacity: 0.6;
}

.nav-item :hover {
  opacity: 1.0;
}

.nav-logo, .nav-logo img {
  display: block;
  width: 64px;
  height: 20px;
  opacity: 1.0;
}

.site-main {
  z-index: 100;
  flex-grow: 1;
  font-family: Merriweather, serif;
}

.site-footer {
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #fff;
  background: #000;
}

.site-footer-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 0.8rem;
  padding: 12px 0;
  border-bottom-width: 1px;
  border-bottom-color: #777777;
  border-bottom-style: solid;
  margin-bottom: 12px;
}

.site-footer-content, .site-footer-content a {
  color: hsla(0,0%,100%,.7);
}

.site-footer-image, .site-footer-image img {
  padding: 0 15px 12px 0;
}

.site-footer-section section {
  padding: 0;
}

.post-feed {
  display: flex;
  margin-top: 4vw;
  padding-top: 0;
  position: relative;
  flex-wrap: wrap;
}

.post-card {
  display: flex;
  flex: 1 1 360px;
  flex-direction: column;
  overflow: hidden;
  margin: 0 20px 40px;
  background: #fff 50%;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  transition: all .5s ease;
}

.post-card:hover {
  box-shadow: 0 0 1px rgba(39, 44, 49, .1), 0 3px 16px rgba(39, 44, 49, .07);
  transition: all .3s ease;
  transform: translate3D(0, -1px, 0);
}

.post-card-image-link {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.post-card-image {
  width: auto;
  height: 200px;
  background-color: #c5d2d9;
  background-image: url("../img/post-default.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.post-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 25px 25px 20px;
}

.post-card-content-link {
  position: relative;
  display: block;
  color: #15171a;
}

.post-card-title {
  font-size: 2rem;
}

.post-card-excerpt {
  color: #333333;
}

.post-meta, .post-meta a {
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: left;
  color: #738a94;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 4px;
}

.post-meta-divider {
  display: inline-block;
  margin: 0 6px 1px;
}

.post-full {
  position: relative;
  z-index: 50;
  background: #FFF;
  margin-bottom: 40px;
}

.post-full-header {
  margin: 0 auto;
  padding: 3vw 3vw 1vw 3vw;
  text-align: left;
}

.post-full-image {
  margin: 0 -10vw -280px;
  height: 800px;
  background: #c5d2d9 50%;
  background-size: cover;
  border-radius: 5px;
}

.post-full-title {
  margin: 1vw 0;
  color: #090a0b;
  font-size: 3rem;
}

.post-full-content {
  position: relative;
  margin: 0 auto;
  padding: 70px 100px 0;
  min-height: 280px;
  font-size: 1rem;
  line-height: 1.6em;
  background: #fff;
}

.post-full-content:after, .post-full-content:before {
    content: "";
    position: absolute;
    top: 15px;
    z-index: -1;
    display: block;
    width: 20px;
    height: 200px;
    background: rgba(39,44,49,.15);
    filter: blur(5px);
}

.post-full-content:before {
  left: -5px;
  transform: rotate(-5deg);
}

.post-full-content:after {
  right: -5px;
  transform: rotate(5deg);
}

@media (min-width: 900px) {
  .site-title {
    padding: 6vw 4vw 10vw;
  }

  .site-nav {
    top: -70px;
  }

  .post-feed {
    margin-top: -70px;
  }

  .post-card {
    flex: 1 1 100%;
    flex-direction: row;
  }

  .post-card-image-link {
    flex: 1 1 auto;
    border-radius: 5px 0 0 5px;
  }

  .post-card-image {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .post-card-content {
    flex: 0 1 360px;
    padding: 30px 40px 20px;
  }

  .post-card-author {
    padding: 0 40px 30px;
  }
}

@media (max-width: 940px) {
  .post-full-image {
    margin: 0 -4vw -280px;
    height: 600px;
    border-radius: 0;
  }

  .post-full-content {
    padding: 5vw 7vw 0;
  }
}
